.campaign-table-container{
    
}

.campaign-table {
    padding: 20px;
}

.campaign-table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #777777;
    background: #cccccc;
    padding: 10px 20px;
    text-align: left;
}

.campaign-table-header-col {
    width: 300px;
}

.campaign-table-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #777777;
    background: #eeeeee;
    padding: 10px 20px;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.campaign-table-item-col {
    width: 300px;
}

.actions-items {
    cursor: pointer;
}
.actions-items:hover {
    font-style: italic;
    color: cyan;
}

.modal-content {
    min-width: 400px;
    min-height: 400px;
    background: #dddddd;
    color: #777777;
}

.modal-details{
    padding-top: 100px;
    margin: 50px auto;
    background:#ffffff;
    max-width: 400px;
    min-height: 400px;
    text-align: center;
}

.modal-items {
    margin-bottom: 50px;
}